#password-meter { display: block; }

input, progress { font-size: 15px; width: 100%; }

.weak, .medium, .medium-hard, .hard {
	margin-top: 10px;
}

#password-meter, #password-meter::-webkit-progress-value, .weak, .week::-webkit-progress-value {
	background-color: red;
}

.week, .medium::-webkit-progress-value {
	background-color: orange !important;
}

.medium-hard, .medium-hard::-webkit-progress-value {
	background-color: yellow !important;
}

.hard, .hard::-webkit-progress-value {
	background-color: greenyellow !important;
}