<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Register</title>
	<link rel="stylesheet" href="../assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="../assets/css/style.css">
    <link href="../assets/css/icons.css" rel="stylesheet" type="text/css" />
    <!-- Alertify -->
    <link href="../assets/plugins/alertify/css/alertify.css" rel="stylesheet" type="text/css">
    <!-- Password Meter -->
    <link rel="stylesheet" href="../assets/css/password.css">
</head>
<body>
	<!-- Navbar -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-navy">
	  <a class="navbar-brand" href="#">Your Title</a>
	</nav>
	<!-- /navbar -->
	
	<div class="container mt-5">
		<div class="row justify-content-center">
			<div class="col-md-5">
				<div class="card">
					<div class="card-header bg-navy text-white text-center">
						Lengkapi Data Pribadi Anda!
					</div>
					<div class="card-body">
						<form action="" method="POST">
							<div class="form-group">
								<label for="username">Username</label>
								<input type="text" name="username" id="username" class="form-control" placeholder="Masukkan Username" required="">
							</div>

							<div class="form-group">
								<label for="password">Password</label>
								<input type="password" name="password" id="password" class="form-control" placeholder="Masukkan Password" required="">
								<progress id="password-meter" value="0" max="100" class="weak"></progress>
							</div>

							<button type="submit" class="btn btn-sm btn-primary float-right">Register</button>
						</form>
					</div>
					<div class="card-footer bg-navy text-white text-center">
						<span class="text-default">&copy; 2020, Dikembangkan Oleh Nekosuki.</span>
					</div>
				</div>	
			</div>
		</div>
	</div>
	
	<script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/popper.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <!-- Alertify js -->
    <script src="../assets/plugins/alertify/js/alertify.js"></script>
    <script src="../assets/pages/alertify-init.js"></script>
    <!-- Password -->
    <script src="../assets/js/password.js"></script>
    <!-- Parsley js -->
    <script type="text/javascript" src="../assets/plugins/parsleyjs/parsley.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $('form').parsley();
        });
    </script>
</body>
</html>